[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "onlineFDR"]
	path = onlineFDR
	url = https://github.com/dsrobertson/onlinefdr
